{% extends 'base.html' %}
{% load static %}{% load widget_tweaks %}
{% block content %}


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<style>
	#chartdiv {
	width	: 100%;
	height	: 500px;
}				
  #chartdiv2 {
  width : 100%;
  height  : 500px;
} 	  #chartdiv3 {
  width : 100%;
  height  : 500px;
} 			
</style>
 <div class="container uk-margin-top">
   <h2 class="uk-heading-bullet uk-margin-bottom">กราฟแสดงความสำคัญของลูกค้า 20 คน</h2>
    <div id="chartdiv"></div>
    <h4   class="uk-text-center" style="font-weight: bold;">หมายเลขไอดีของลูกค้า</h4>
    <br>

  
    <p class="thai_font"> จากกราฟแสดงให้เห็นถึงยอดการสั่งซื้ออาหารของลูกค้าที่มียอดสั่งซื้อมากที่สุด 20 คน จากทั้งหมดในระบบ ซึ่งเรียงลำดับตั้งแต่มากไปน้อย อันดับแรกได้แก่ลูกค้าหมายเลขไอดี  54 รองลงมาคือ ลูกค้าหมายเลขไอดี  54 และ ลูกค้าหมายเลขไอดี  140 ตามลำดับ</p>
      <!-- <div id="chartdiv"></div> -->


 <br>

      <h2 class="uk-heading-bullet uk-margin-bottom">กราฟแสดงความสำคัญของลูกค้าทั้งหมดภายในระบบ</h2>



        <div id="chartdiv2"></div>
            <h4   class="uk-text-center" style="font-weight: bold;">หมายเลขไอดีของลูกค้า</h4>
            <br>

    <p class="thai_font"> จากกราฟแสดงให้เห็นถึงยอดการสั่งซื้ออาหารของลูกค้าทั้งหมดในระบบ ซึ่งเรียงลำดับตั้งแต่มากไปน้อย อันดับแรกได้แก่ลูกค้าหมายเลขไอดี  54 รองลงมาคือ ลูกค้าหมายเลขไอดี  54 และ ลูกค้าหมายเลขไอดี  140 ตามลำดับ</p>
<br>
       <h2 class="uk-heading-bullet uk-margin-bottom">กราฟแสดงความเสี่ยงต่อการเลิกใช้บริการของลูกค้า</h2>
        <!-- <div id="chartdiv3"></div> -->
        <canvas id="popChart" width="400" height="200"></canvas>
<!-- <div class="thai_font" id="productChart"></div> -->
  </div>

 

   <!--  {{all_ordered}}
    {% for o in all_ordered %}
    {{o.total}}

    {% endfor %} -->
    <script>
    var chartData = generatechartData();
    function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

  function generatechartData() {
  var chartData = [];

    var data = [{% for o in output %}
    { "user" : "{{ o.user }}",
       "amount" : "{{ o.amount }}",
       
    },

    {% endfor %}
    ]

    // console.log(typeof data);
    // console.log(data);

    for(var i=0;i<20;i++)
{

    if (parseInt(data[i].amount) >= 50){
            
        if (i == 0 ){

            chartData.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#FEC514",
            "bullet": "{% static 'images/crown.png' %}",},);
        }
        else{
           chartData.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#FEC514",},);
        }


           
      }
else if (parseInt(data[i].amount)  >= 5  && parseInt(data[i].amount) <= 49 ){
          

        if (i == 0 ){

            chartData.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#DAF0FD",
            "bullet": "{% static 'images/crown.png' %}",},);
        }
        else{
           chartData.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#DAF0FD",},);
        }


        }

        else if (parseInt(data[i].amount)  >= 0  && parseInt(data[i].amount) <= 4 ){
        
        if (i == 0 ){

            chartData.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#DB4C3C",
            "bullet": "{% static 'images/crown.png' %}",},);
        }
        else{
           chartData.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#DB4C3C",},);
        }



        }
    
}
console.log("chart",chartData)
  return chartData;
  }


    var chart = AmCharts.makeChart("chartdiv",
{
    "type": "serial",
    "theme": "light",
    "dataProvider": chartData,
    "valueAxes": [{
        "maximum": 15,
        "minimum": 0,
        "axisAlpha": 0,
        "dashLength": 4,
        "position": "bottom",
        "title": "จำนวนการสั่งซื้อ"
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
        "bulletOffset": 10,
        "bulletSize": 52,
        "colorField": "color",
        "cornerRadiusTop": 8,
        "customBulletField": "bullet",
        "fillAlphas": 0.8,
        "lineAlpha": 0,
        "type": "column",
        "valueField": "points"
    }],
    "marginTop": 0,
    "marginRight": 0,
    "marginLeft": 0,
    "marginBottom": 0,
    "autoMargins": false,
    "categoryField": "name",
    "categoryAxis": {
        "axisAlpha": 0,
        "gridAlpha": 0,
        "inside": true,
        "tickLength": 0
    },
    "export": {
        "enabled": true
     },
  

});
   // var chartData2 = generatechartData2();


  // function generatechartData2() {
  var chartData2 = [];
  
    var data = [{% for o in output2 %}
    { "user" : "{{ o.user }}",
       "amount" : "{{ o.amount }}",
       
    },

    {% endfor %}
    ]

    // console.log(typeof data);
    console.log(data);

    for(var i=0;i<data.length;i++)
{
    // console.log(typeof data[i].amount);
    // var cvint = parseInt(data[i].amount)
    // console.log(typeof cvint);
    if (parseInt(data[i].amount) >= 50){
            chartData2.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#FEC514",},);
        }
    else if(parseInt(data[i].amount)  >= 5  && parseInt(data[i].amount) <= 49 ){
            chartData2.push( {
            name: data[i].user,
            points: parseInt(data[i].amount),
            "color": "#DAF0FD",  },);
        }

       else if(parseInt(data[i].amount)  >= 0  && parseInt(data[i].amount) <= 4 ){
        
              chartData2.push( {
              name: data[i].user,
              points: parseInt(data[i].amount),
              "color": "#DB4C3C",},);
        }
    
}

  // return chartData2;
  // }
// alert(chartData2);
var chart = AmCharts.makeChart("chartdiv2", {
  "type": "serial",
  "theme": "light",
  "marginRight": 70,
  "dataProvider": chartData2,
  "startDuration": 1,
  "graphs": [{
    "balloonText": "<b>[[category]]: [[value]]</b>",
    "fillColorsField": "color",
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "type": "column",
    "valueField": "points",

  }],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "name",
  "categoryAxis": {
    "gridPosition": "start",
    "labelRotation": 45
  },
  "export": {
    "enabled": true
  },
    "valueAxes": [ {
    "position": "bottom",
    "axisAlpha": 0,
    "dashLength": 1,
    "id": "x",
    "title": "จำนวนการสั่งซื้อ",
    "titleFontSize": 20,
  }, ],



});
   




chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
    chart.zoomToIndexes(chart.dataProvider.length - 1, chart.dataProvider.length - 1);
}





var chartData3 = generatechartData3();
  function generatechartData3() {

   var chartData2 = [];
  
    var data = [{% for o in output %}
    { "user" : "{{ o.user }}",
       "amount" : "{{ o.amount }}",
       "time_length" : "{{o.time_length}}",
       
    },

    {% endfor %}
    ]

    // console.log(typeof data);
    console.log("ss"+data);

    for(var i=0;i<data.length;i++)
{
    // console.log(typeof data[i].amount);
    // var cvint = parseInt(data[i].amount)
    console.log(data[i].time_length);

           chartData2.push( {
    
    name: data[i].user,
    order_amount: parseInt(data[i].amount),
    day_disappear: parseInt(data[i].time_length),
  },);

        
    
}

  return chartData2;
}


var chart = AmCharts.makeChart("chartdiv3", {
    "type": "serial",
    "theme": "light",
    "legend": {
        "useGraphSettings": true
    },
    "dataProvider": chartData3,
    "valueAxes": [{
        "integersOnly": true,
        "maximum": 100,
        "minimum": 1,
        "reversed": true,
        "axisAlpha": 0,
        "dashLength": 5,
        "gridCount": 10,
        "position": "left",
        "title": ""
    }],
    "startDuration": 0.5,
    "graphs": [{
        "balloonText": "จำนวนการสั่งซื้อ [[category]]: [[value]]",
        "bullet": "round",
        "hidden": true,
        "title": "จำนวนการสั่งซื้อ",
        "valueField": "order_amount",
    "fillAlphas": 0
    }, {
        "balloonText": "จำนวนวันที่เลิกใช้บริการ [[category]]: [[value]]",
        "bullet": "round",
        "title": "จำนวนวันที่เลิกใช้บริการ",
        "valueField": "day_disappear",
    "fillAlphas": 0
    }, ],
    "chartCursor": {
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "name",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "fillAlpha": 0.05,
        "fillColor": "#000000",
        "gridAlpha": 0,
        "position": "top"
    },
    "export": {
      "enabled": true,
        "position": "bottom-right"
     }
});


 function generatechartData4() {

 
  return chartData;
  }

   var data = [{% for o in output %}
    { "user" : "{{ o.user }}",
       "amount" : "{{ o.amount }}",
       "time_length" : "{{o.time_length}}",
       
    },

    {% endfor %}
    ]

    console.log("aa"+data);

  var chartData1 = [];
  var chartData2 = [];
  var chartData3 = [];
     for(var i=0;i<data.length;i++)
{
    // console.log(typeof data[i].amount);
    // var cvint = parseInt(data[i].amount)
    // console.log(typeof parseInt(data[i].label));
    // console.log(parseInt(data[i].label))
    if (parseInt(data[i].amount)  >= 50){
         console.log("bb"+data[i].amount);
           chartData1.push( {
  
    x:parseFloat(data[i].amount),
    y: parseFloat(data[i].time_length),
    r:10
  
  },);
           alert(chartData1);
 }
else if(parseInt(data[i].amount)  >= 5  && parseInt(data[i].amount) <= 49 ){           chartData2.push( {
    
    x:parseFloat(data[i].amount),
    y: parseFloat(data[i].time_length),
    r:10
  
  },);
 }

else if(parseInt(data[i].amount)  >= 0  && parseInt(data[i].amount) <= 4 ){           chartData3.push( {
    
    x:parseFloat(data[i].amount),
    y: parseFloat(data[i].time_length),
    r:10
  
  },);
 }
}

  // alert(chartData);
var chartDataToPlot = [];
   chartDataToPlot.push( {
    label:['Group1'],
    data:chartData1,
    backgroundColor: "#FEC514",
  
  
  },);
  chartDataToPlot.push( {
     label:['Group2'],
    data:chartData2,
    backgroundColor: "#F0B1C0",
  
  
  },);
   chartDataToPlot.push( {
     label:['Group3'],
    data:chartData3,
    backgroundColor: "#8FCDCC",
  
  
  },);
// alert(chartDataToPlot[0]);
  var popCanvas = document.getElementById("popChart");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var popData = {
  datasets: chartDataToPlot
};

var bubbleChart = new Chart(popCanvas, {
  type: 'bubble',
  data: popData
});
</script> 


	

<br>
<br>
<br>
{% endblock %}