{% extends 'base.html' %}
{% load static %}{% load widget_tweaks %}
{% block content %}
  <!-- Styles -->
  <!-- <style>
  #chartdiv {
  width   : 70%;
  height    : 300px;
  font-size : 20px;
  }
  </style> -->
  <!-- Styles -->
  <style>
  #chartdiv {
  width: 100%;
  height: 300px;
  }
  .summary-label{
  font-size: 15px;
  font-weight: bold;
  color: #9E9E9E;
  /*color: #AAB8C2;*/
  }
  </style>
  <!-- Resources -->
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
  <!-- Chart code -->
  <script>
  var chartData = generatechartData();
  function generatechartData() {
  var chartData = [];
  var firstDate = new Date();
  var differ_dates = parseInt({{differ_dates}});
  console.log("differ_dates ",differ_dates);
  firstDate.setDate( firstDate.getDate() -differ_dates );
  // var visits = -40;
  for ( var i = 0; i < differ_dates; i++ ) {
  // we create date objects here. In your data, you can have date strings
  // and then set format of your dates using chart.dataDateFormat property,
  // however when possible, use date objects, as this will speed up chart rendering.
  var newDate = new Date( firstDate );
  newDate.setDate( newDate.getDate() + i );
  // console.log(newDate);
  var viewPerDay = {{ordered_per_day}};
  // console.log(typeof(viewPerDay[0]));
  // alert({{viewer_list_per_day}});
  // if(i > 80){
  // b = 0.4;
  // }
  // visits += Math.round((Math.random()<b?1:-1)*Math.random()*10);
  visits ={{viewer}};
  chartData.push( {
  date: newDate,
  visits: viewPerDay[i]
  } );
  }
  return chartData;
  }
  var chart = AmCharts.makeChart( "chartdiv", {
  "theme": "none",
  "type": "serial",
  "dataProvider": chartData,
  "valueAxes": [ {
  "inside": true,
  "axisAlpha": 0
  } ],
  "graphs": [ {
  "id": "g1",
  "balloonText": "<div style='margin:5px; font-size:19px;'><span style='font-size:13px;'>[[category]]</span><br>[[value]]</div>",
  "bullet": "round",
  "bulletBorderAlpha": 1,
  "bulletBorderColor": "#FFFFFF",
  "hideBulletsCount": 50,
  "lineThickness": 2,
  "lineColor": "#fdd400",
  "negativeLineColor": "#67b7dc",
  "valueField": "visits"
  } ],
  "chartScrollbar": {
  },
  "chartCursor": {},
  "categoryField": "date",
  "categoryAxis": {
  "parseDates": true,
  "axisAlpha": 0,
  "minHorizontalGap": 55
  }
  } );
  </script>
  <!-- HTML -->    <hr>
  <div class="container" >
    <h2 class="uk-heading-bullet">ดูรายงาน </h2>
    <div uk-grid>
      <div class="uk-width-3-4@m  uk-child-width-1-1@s uk-padding " >
        <div id="chartdiv"></div>
        <!-- <div></div> -->
      </div>
      <!-- <div class="uk-child-width-1-3@m  uk-child-width-1-1@s uk-padding " > -->
      <!-- <div><div id="chartdiv"></div></div> -->
      <!-- <div></div> -->
      <!-- </div>  -->
      <div class="uk-width-1-4@m uk-margin-medium-top">
        <!-- <select name='myselect' onChange="form.submit();">
          <option value="all">ดูทั้งหมด</option>
          <option value="มกราคม">มกราคม</option>
          <option value="กุมภาพันธ์">กุมภาพันธ์</option>
          <option value="มีนาคม">มีนาคม</option>
          <option value="เมษายน">มีนาคม</option>
          <option value="พฤษภาคม">พฤษภาคม</option>
          <option value="มิถุนายน">มิถุนายน</option>
        </select> -->
        <form id="id_of_form" method="POST" >
             {% csrf_token %}
          <div  class="uk-margin-bottom ">
            <!-- <label class=" "  for=" ">บริการส่ง</label> -->
            {{ form.action |add_class:"uk-select"}}
          </div>
        </form>
       {% if statistic %}
        <h3 class="uk-heading-divider summary-label ">{{statistic.month}} {{year}}</h3>
        <div uk-grid>
          <div class="uk-width-1-2@m ">
            <p  class="summary-label uk-margin-remove-bottom">VIEWS</p>
            <h1 class="uk-margin-remove-top uk-margin-bottom">{{statistic.view}}</h1>
            <!-- <label></label>  -->
            <hr>
            <p  class="summary-label uk-margin-remove-bottom">ORDERS</p>
            <h1 class="uk-margin-remove-top">{{statistic.order}}</h1><hr>
          </div>
          <div class="uk-width-1-2@m ">
            <p  class="summary-label uk-margin-remove-bottom">LOVES</p>
            <h1 class="uk-margin-remove-top uk-margin-bottom">{{statistic.love}}</h1>
            <!-- <label></label>  -->
            <hr>
            <p  class="summary-label uk-margin-remove-bottom">REVIEWS</p>
            <h1 class="uk-margin-remove-top">{{statistic.review}}</h1>
            <hr>
          </div>
        </div>
      {% else %}
        <h3 class="uk-heading-divider summary-label ">{{statistic.month}} {{year}}</h3>
        <div uk-grid>
          <div class="container"><label for="">ยังไม่มีการสรุปสถิติในเดือนนี้</label></div>
        </div>
      <br>
      {% endif  %}
      </div>
    </div>
     <h2 class="uk-heading-bullet">วิเคราะห์พฤติกรรมลูกค้า </h2>
    <div class="uk-width-1-1@m  uk-child-width-1-1@s uk-padding " >

        <img style="" class="uk-margin-small-bottom" src="{% static "images/test.gif" %}"/>
        <!-- <div></div> -->
        <p class="uk-text-center">กำลังวิเคราะห์พฤติกรรมลูกค้า</p>
      </div>
     
  </div>

  <script>
    $(function(){
    $('#monthId').change(function(){
        $('#id_of_form').submit();
    });
});
  </script>
{% endblock %}